
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Permanent+Marker&family=Reenie+Beanie&family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Nixie+One&family=Poiret+One&family=Raleway+Dots&family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#home-page {
  display: flex;
  justify-content: center;
}


.navbar li {
  display: inline-block;
  padding: 12px;
  margin-bottom: 20px
}


/* NAV BUTTONS  */


.button {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Cedarville Cursive', cursive;
  font-size: 25px;
  background-color: #a5dee5;
  color: white;
  padding: 0.50rem;
  margin: 12px;
  border-radius: 4px;
  border: none;
}

.button.active,
.button:hover,
button.active,
button:focus,
button:hover {
  color: white;
  background-color: #ffcfdf;
  border: none;
}



.signin-buttons {
  display: flex;
  justify-content: center;
}



.login-title {
    font-family: 'Bungee Outline', cursive;
    font-size: 40px;
    color:#ffcfdf;
    text-align: center;
    padding-top: 35px;
}







.profile-img {
  height: 40%;
  width: 40%;
}


/* Calendar CSS */

.calendar-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

 #add-entry {
  float:right;
  
} 

#add-day {
  float:right;
  padding-right: 10px;
} 


.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 2px solid #96a096;
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #ff5757;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

/* shows color for today's date */
.react-calendar__tile--now {
  background: #fefdca; 
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #a5dee5;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a5dee5;
}
.react-calendar__tile--active {
  background: #a5dee5;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #a5dee5;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* Main Page Layout */


/* clear background for button */
.clear-button {
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  border: 1px solid var(--bg-color-3);
  background-color: var(--bg-color-2);
  margin: 0 0.25rem;
  cursor: pointer;
  color: #919394;
}


.update-water {
  
  padding: 0.1rem 0.2rem;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid var(--bg-color-3);
  background-color: var(--bg-color-2);
  margin: 0 0.25rem;
  cursor: pointer;
  color: #a5dee5;
}

#day-card {
  cursor: pointer;
  height: 100%;
}
 

/* STICKY NOTES STYLING */

.note-one {
  width: 275px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ddd;
  background-size: cover;
	background-clip: content-box;
  background-color: #fefdca;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  top: 30px; 
  
  font: 400 1.5em/50px 'Permanent Marker', cursive;
  color: black;
  text-indent: 20px;
  text-align: center;
}

.note-one:after {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid #fefefe;
  bottom: -60px;
  right: -65px;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg);
}

.note-one:before {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid #fefefe;
  top: -60px;
  left: -65px;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg);
}


.note-two {
  width: 200px;
  height: 230px;
  padding: 10px;
  border: 1px solid #ddd;
  background-size: cover;
	background-clip: content-box;
  background-color: #e0f9b5;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  top: 30px; 
  
  font: 400 1.5em/60px 'Cedarville Cursive', cursive;
  color: black;
  text-indent: 20px;
  text-align: center;
}

.note-two:after {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid #fefefe;
  bottom: -60px;
  right: -65px;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg);
}

.note-two:before {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid #fefefe;
  top: -60px;
  left: -65px;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg);
}


.note-three {
  width: 275px;
  height: 95px;
  padding: 10px;
  border: 1px solid #ddd;
  background-size: cover;
	background-clip: content-box;
  background-color: #ffcfdf;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  top: 30px; 
  font: 400 1em/65px 'Nixie One', cursive;
  color: black;
  text-indent: 20px;
  text-align: center;
}

.note-three:after {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid #fefefe;
  bottom: -60px;
  right: -65px;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg);
}

.note-three:before {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid #fefefe;
  top: -60px;
  left: -65px;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg);
}


.note-four {
  width: 285px;
  height: 185px;
  padding: 10px;
  border: 1px solid #ddd;
  background-size: cover;
	background-clip: content-box;
  background-color: #a5dee5;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  top: 30px; 
  
  font: 400 2em/55px 'Caveat', cursive;
  color: black;
  text-indent: 20px;
  text-align: center;
}

.note-four:after {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid #fefefe;
  bottom: -60px;
  right: -65px;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg);
}

.note-four:before {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid #fefefe;
  top: -60px;
  left: -65px;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg);
}


/* clear to do and selfcare list buttons */

#x-icon {
  float: right;
  cursor: pointer;
  color: #919394;
}

#x-selfcare {
  float: right;
  cursor: pointer;
  color: #919394;
}

/* edit button to float right  */

.pencil {
  float: right;
}

/* FONTS */

.selfcare-title {
  /* font-family: 'Raleway Dots', cursive; */
  font-family: 'Cedarville Cursive', cursive;
  font-size: 30px;
  color: #4e4d4d;

}

div .selfcare-list {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 20px;
  color: #4e4d4d;
  padding: 15px;
}

.bungee-font {
  font-family: 'Bungee Outline', cursive;
  font-size: 32px;
  color:#4e4d4d;
  text-align: right;
  padding: 10px;
}

.date-page {
  padding: 15px;
  
}

.grateful-title {
  font-family: 'Comfortaa', cursive;  
  font-size: 22px;
  color: #4e4d4d;

}

.grateful {
  font-family: 'Comfortaa', cursive;  
  font-size: 15px;
  color: #4e4d4d;
}

.to-do {
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
}

div .to-do-list {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  padding: 15px;
}

.water-title {
  font-family: 'Poiret One', cursive;
  font-size: 22px;
}

.mood-title {
  font-family: 'Nixie One', cursive;
  font-size: 20px;
  color: #4e4d4d
}

.mood {
  font-family: 'Nixie One', cursive;
  font-size: 18px;
  color: #4e4d4d

}

#heart {
  color: #ffcfdf;

}

i.heart.outline.icon::before {
  color: #ffcfdf;
}

/* PROFILE PAGE */

div.user-info {
  text-align: center;
  padding: 50px;
}

#delete-button {
text-align: right;
}

.user-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  color: #4e4d4d
}

#cal-label {
  font-family: 'Comfortaa', cursive;
}

#gratification-label {
  font-family: 'Comfortaa', cursive;
}


#priorities-label {
  font-family: 'Comfortaa', cursive;
}

#mood-label { 
  font-family: 'Comfortaa', cursive;
}

#water-label {
  font-family: 'Comfortaa', cursive;
}

#mindful-label {
  font-family: 'Comfortaa', cursive;
}

#profile-label {
  font-family: 'Comfortaa', cursive;
}

#entry-label {
  font-family: 'Comfortaa', cursive;
}


/* entry page  */

#header-date {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  color: #4e4d4d

}

.sort {
  text-align: right;
}

#mood-entry {
  font-family: 'Comfortaa', cursive;  
  font-size: 12px;
}

#water-entry {
  font-family: 'Comfortaa', cursive;  
  font-size: 12px;
}

#task-entry {
  font-family: 'Comfortaa', cursive;  
  font-size: 12px;
}

#grateful-entry {
  font-family: 'Comfortaa', cursive;  
  font-size: 12px;
  color: #4e4d4d
}

